.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.5rem;
  background-color: white;
  border-bottom: 1px solid #e9ecef;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.logo {
  width: 2rem;
  height: 2rem;
  background-color: #0066ff;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
}
.logo-text {
  font-weight: bold;
}

.user-profile {
  display: flex;
  align-items: center;
  gap: 0.2rem;
}

.user-avatar {
  width: 2rem;
  height: 2rem;
  background-color: #0066ff;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: lighter;
}
.user-name {
  font-weight: lighter;
}
.user-arr {
  height: 14px;
  width: 14px;
}
